body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://media.gettyimages.com/id/2148041314/photo/locust-walk-with-students-in-fall-university-of-pennsylvania-university-city-area.jpg?s=612x612&w=gi&k=20&c=wGvL65uqByULEjQjD25O1XwYFEf2zCsR7zI6r2gABuM=');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

#login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #003366;
}

#loginBtn {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#loginBtn:hover {
  background: #0056b3;
}