body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://i.etsystatic.com/6245917/r/il/91b914/3509868762/il_1588xN.3509868762_2zhm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

#login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #003366;
}

#loginBtn {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#loginBtn:hover {
  background: #0056b3;
}